.alltotal {
    margin: 0 -15px;
}
.img-responsive {
    max-width: 100%;
    display: inline-block;
    height: auto;
}
#header {
    width: 100%;
    font-size: 16px;
    text-align: center;
}
#header .title {
    width: 100%;
    height: 85px;
    line-height: 85px;
    color: #ffffff;
    z-index: 9;
    margin-bottom: 0;
    background-color: #ffffff;
    border-bottom: 1px solid #c8c8c8;
}
#header .nav_b {
    background: rgb(255,255,255);
    background: rgb(35,147,195)\0;
    border-bottom: 1px solid #ffffff\0;
    min-height: 85px;
    color: #323232;
}

#header .navbar-header button {
    margin-top: 24px;
}
#header .navbar-nav li {
    padding: 0 15px;
}
#header .dropdown>a {
    background-color: transparent;
    color: #323232;
    padding-top: 33px;
}
#header .dropdown-menu {
    left:-14px;
    min-width: 0px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e52393c3,endColorstr=#e52393c3);
}
#header .dropdown-menu > LI > A:hover {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#c82393c3,endColorstr=#c82393c3);
}
#header .left button {
    position: absolute;
    top: 30%;
    left: 5%;
    width: 7%;
    height: 44%;
    max-width: 50px;
    max-height: 100px;
    color: #ffffff;
    font-size: 2em;
    background: rgba(178,178,178,.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f2393c3,endColorstr=#7f2393c3);
    border: none;
    border-bottom-right-radius: 10px ;
    border-top-right-radius: 10px;
}
#header .left button:focus,
#header .left button:active,
#header .left button:visited {
    border:none;
    outline: none; 
}
#header .right button {
    position: absolute;
    top: 30%;
    right: 5%;
    width: 7%;
    height: 44%;
    max-width: 50px;
    max-height: 100px;
    color: #ffffff;
    font-size: 2em;
    background: rgba(178,178,178,.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f2393c3,endColorstr=#7f2393c3);
    border: none;
    border-bottom-left-radius: 10px ;
    border-top-left-radius: 10px;
}
#header .right button:focus,
#header .right button:active,
#header .right button:visited {
    border: none;
    outline: none;
}
#func {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}
#func p {
    padding: 24px 0;
    font-family: "ו";
    font-size: 1.5em;
    font-weight: bold;
}
#func span {
    font-size: 1.1em;
    letter-spacing:5px;
    line-height: 1.4;
    display: block;
    min-height: 150px;
}
#func i {
    font-size: 76px;
}
#revealed .container {
    background-color: #1B1E24;
    padding-bottom: 20px;   
}
#revealed .revealed_total {
    padding: 60px;
    background-color: #1B1E24;
    color: #ffffff;
    height: auto;
}
#revealed .shows {
    width: 98%;
    padding: 20px;
    overflow: auto;
    -ms-scrollbar-face-color: #1892C7;
    scrollbar-face-color: #1892C7;
    -ms-scrollbar-track-color: #4D5561;
    scrollbar-track-color: #4D5561;
}
#revealed .picture {
    width: 2400px;
    height: 300px;
}
#revealed .picture div {
    width: 300px;
    height: 300px;
    float: left;
}
#revealed .picture_img1 {
    background:url("../image/advert1.png") no-repeat;
    background-size: 100% 100%;
}
#revealed .picture_img2 {
    background: url("../image/advert2.png") no-repeat;
    background-size: 100% 100%;
}
#revealed .revealed_total span {
    font-size: 1.2em;
}
#revealed .revealed_total p {
    padding: 30px 0;
    font-size: 4em;
    font-weight: bold;
}
#revealed .revealed_total button {
    background-color: #1B1E24;
    padding: 5px 30px;
    font-size: 1.3em;
}
#revealed .show_img:hover .shade {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
#revealed .show_img:hover .shade p {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
}
#revealed .shade {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    width: 100%;
    background: rgba(0,0,0,.7);
    text-align: center;
    padding-top: 40px;
    position: relative;
    transition: 2s;
    -moz-transition: 2s;
    -o-transition: 2s;
    -webkit-transition: 2s;
}
#revealed .shade i {
    color: #ffffff;
    font-size: 100px;
}
#revealed .shade p {
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 300px;
    background: #ffffff;
    padding: 15px 10px;
    text-align: left;
    margin: 0;
}
#revealed .shade span {
    float: right;
}
@media screen and (max-width: 765px){
    #revealed .revealed_total {
        padding: 26px 36px 4px 18px;
    }
    #revealed .revealed_total p {
        display: inline;
        font-size: 1.2em;
    }
    #revealed .revealed_total button {
        float: right;
        padding: 0;
        margin-top: -5px;
    }
}