<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<script src="../vue.js"></script>
	<!--v-if
	代码示例:在字符串模板中，如Handlebars，我们得像这样写一个条件块
	<!-- Handlebars 模板 -->
	<!--扩展:Handlebars 是 JavaScript 一个语义模板库，通过对view和data的分离来快速构建Web模板
		它采用"Logic-less template"（无逻辑模版）的思路，在加载时被预编译，而不是到了客户端执行到代码时再去编译		Handlebars兼容Mustache，你可以在Handlebars中导入Mustache模板
	{{#if ok}}-->
	<!--<h1>Yes</h1>-->
	<!--{{/if}}-->
	<!--在 Vue.js，我们使用 v-if 指令实现同样的功能：-->
	<!--<h1 v-if="ok">Yes</h1>-->
	<!--也可以用 v-else 添加一个 “else” 块：-->-->
	<!--<h1 v-if="ok">Yes</h1>
	<h1 v-else>No</h1>-->
	<body>
		<div id="element">
			<h1 v-if="ok">Yes</h1>
			<h1 v-else>No</h1>	
		</div>
		<script>
			window.onload=function(){
				var vm = new Vue({
					el:'#element',
					data:{
						ok:false
					}
				})
			}
		</script>
	</body>
</html>
